html {
    height: 100%;
}
body {
    background-color: rgb(0, 0, 0);
    font-family: 'Kalam', cursive;
    color: white;
    height: 100%;
}
.marginauto {
    position: absolute;
    bottom: 45%;
}
#closeFooter {
    position: absolute;
    bottom: 4%;
}
.opacity {
    background-color: rgba(0, 0, 0, 0);
}
.font-taille-grand {
    font-size: 50px;
}
.font-taille-moyen {
    font-size: 50px;
}
p {
    font-size: 20px;
}
nav {
    background-color: lightgray;
}
a {
    color: #8ec744 ;
    font-size: 25px;
    
}
#test a.navtextcolor {

    color: white;
    text-decoration: none;
}
.video {
    opacity: 0.3;
    position: fixed;
}
.footer {
    position: fixed;
    
}
.centerViewport {
    position: absolute;
    bottom: 25%;
}
.mouseHover:hover {
    -moz-transform: scale(2) translate(25px, 6px) skew(-1deg, 0deg);
    -webkit-transform: scale(2) translate(25px, 6px) skew(-1deg, 0deg);
    -o-transform: scale(2) translate(25px, 6px) skew(-1deg, 0deg);
    -ms-transform: scale(2) translate(25px, 6px) skew(-1deg, 0deg);
    transform: scale(1.15) translate(6px, 6px) skew(-1deg, 0deg);
    z-index: 999;
}
.textmouseHover:hover {
    color: #FFFFFF;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #1723d3, 0 0 30px #1723d3, 0 0 40px #1723d3, 0 0 55px #1723d3, 0 0 75px #1723d3;
    color: #FFFFFF;
}

.exampleInputEmail1 {
    border: 5px ridge #0275d8;
}

#borderBottom {
    border-bottom: 2px solid rgb(255, 255, 255);
}

.button {
    background-color: rgb(76, 99, 175);
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

@media screen and (max-width: 640px) {
    #screenWidth {
      display:none;
    }
}

@media screen and (max-width: 530px) {
    #mediaqueriesText {
        font-size: 16px;
    }
}