body {
    background-color: rgb(0, 0, 0);
    font-family: 'Kalam', cursive;
    color: white;
}
.border {
    border: rgb(0, 0, 0) solid 2px !important;
}
.opacity {
    background-color: rgba(0, 0, 0, 0.6);
}
.font-taille-grand {
    font-size: 50px;
}
.font-taille-moyen {
    font-size: 50px;
}
p {
    font-size: 20px;
}
#nopadding {
    padding : 0;
}
a {
    color: #8ec744 ;
    font-size: 25px;
}
